body {
  margin: 0;
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-horizontal.ant-menu-item:hover {
  color: transparent !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: transparent !important;
  border-bottom: 2px solid #1890ff00 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  color: transparent !important;
  border-bottom: 2px solid #1890ff00 !important;
}

.ant-menu-horizontal.ant-menu-item-selected {
  color: transparent !important;
}

.ant-menu-submenu {
  float: right !important;
}